/* selector{
    property; value; 
} */

body {
  background-image: url(lamborghini.jpg);
  background-size: cover;
}
img {
  float: right;
}

h2 {
  color: rgb(34, 227, 9);
  text-align: center;
  border: 5px solid rgb(9, 241, 55);
  cursor: progress;
}

p {
  font-size: 20px;
  font-family: "Fuggles", cursive;
  font-weight: bold;
  font-style: italic;
  color: greenyellow;
}
li {
  list-style: none;
  display: inline;
}

.webtext :last-child {
  font-size: 30px;
}

footer {
  clear: both;
}
